@media only screen  and (min-width: 1024px) {

	.tarif {
		width: calc(33% - 20px);
		float: left;
		height: 610px;
		position: relative;
		margin-left: 10px;
		margin-right: 10px;
	}
	.link {
		position: absolute;
		bottom: 0
	}

	.tarif * {
		font-size: 90%;
	}



}

@media only screen and (min-width: 641px) and (max-width: 1024px) {

	.tarif {
		width: calc(50% - 20px);
		float: left;
		height: 610px;
		position: relative;
		margin-left: 10px;
		margin-right: 10px;
	}
	.link {
		position: absolute;
		bottom: 0
	}
	.tarif * {
		font-size: 90%;
	}




}